<div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="card p-3 mb-3">
        <h6>Athelitic 12 Month Elite</h6>
        <div class="tab-border mb-3">
          <div class="lead"> How many total members would you like on this plan including
            yourself?</div>
          <select class="form-control">
            <option value="1">1 Person</option>
            <option value="2">2 Persons</option>
            <option value="3">3 Persons</option>
          </select>
        </div>
        <p class="display-6">$132.00 <span class="lead"> Montly</span></p>
        <p class="display-6">$162.00 <span class="lead"> Due Today</span></p>
        <h3 class="mt-4">Product Description</h3>
        <p>An ethletic elite membership has the previlige of using all facilities within the
          membership category. Reciprocity may be revised or canceled at any time.</p>
        <div class=" mt-3"><strong>Access To</strong></div>
        <div>General Facility</div>
        <div>Nursery</div>
        <div>Locker</div>
        <div>Group Excersie</div>
        <div>Swimming</div>
        <div>Tennis</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="card">
        <div class="card-header display-6">Cart Summary</div>
        <div class="card-body">
          <div>Due Today</div>
          <div>$167.35$</div>
          <hr />
          <div>Monthly</div>
          <div>$132.75 <small>/ Starting 4/1/2021</small></div>
          <hr />
          <div>Other Fees</div>
          <div><strong> Anual Fee (per member) of $100.00 billed annually startgin 05/10/2021
            </strong></div>
          <hr />
          <div>
            <button class="btn">back </button>
            <button class="btn"><i class="fas fa-arrow-right"></i>Continue </button>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header display-6">Support</div>
        <div class="card-body support">
          <div class="text-center"><i class="fas fa-phone"> </i> +43 100 783 001</div>
          <div><strong><small>Please contact with us if you have any questions</small></strong></div>
        </div>
      </div>

    </div>
  </div>